.hero figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1250px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52.5%);
    z-index: 1;
}

.hero figure img {
    width: 750px;
}
