main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;

    opacity: 0;

    color: whitesmoke;
    background-color: #0F1427;

    animation: showMainContent .75s ease-in .75s forwards;
}

@keyframes showMainContent {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}