.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image .iconBg {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    width: 80px;

    margin-right: 7.3em;

    border-radius: 50%;
    background-image: linear-gradient(339deg, #a200ff, #ff204e);

    z-index: 2;

    box-shadow: 1px 1px 28px rgba(238, 204, 255, .64);
}

.image .iconBg:first-child {
    margin-right: 7.2em;
}

.image .iconBg img.firstIcon {
    width: 90%;
}

.image .iconBg img.secondIcon {
    width: 75%;
}

.image img.robot,
.image img.robotsInSuits {
    box-shadow: 1px 1px 21px rgba(0, 166, 255, .5);

}

.image img.robot {
    width: 310px;
}

.image img.robotsInSuits {
    width: 260px;
}

.image .firstRow,
.image .lastRow {
    position: absolute;

    height: 7px;
    width: 176px;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;

    background-image: linear-gradient(339deg, #ff204e, #a200ff);
}

.image .firstRow {
    margin-right: 12em;
}

.image .lastRow {
    margin-right: 9em;
}