@media screen and (max-width: 1400px) {
    nav {
        width: 650px;
    }
}

@media screen and (max-width: 1150px) {
    header figure {
        width: 300px;
    }

    header figure img {
        width: 275px;
    }

    nav {
        width: 450px;
    }

    nav button {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 900px) {
    header.navbar {
        height: 185px;
    }

    .headerContent {
        height: 185px;

        flex-direction: column;
        gap: 1em;
    }

    header figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }

    header figure img {
        width: 350px;
    }

    nav {
        justify-content: space-evenly;
        width: 500px;

        padding-top: 1.5em
    }

    nav button {
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    header.navbar,
    .headerContent {
        height: 185px;
    }

    header figure {
        width: 300px;
    }

    header figure img {
        width: 300px;
    }

    nav {
        width: 400px;
        gap: 1em;
    }

    nav button {
        font-size: 1em;
    }
}

@media screen and (max-width: 450px) {
    header.navbar {
        height: auto;

        /* background-color: transparent; */
    }

    /* .hider .arrowIcon {
        background-color: transparent;
    }

    nav button {
        background-color: transparent;

        border: .1em solid transparent;
    } */

    .headerContent {
        justify-content: flex-start;
        align-items: center;

        height: auto;

        padding: 2em 0em 2em 0em;
    }

    nav {
        flex-direction: column;

        width: 200px;

        padding-top: 1em;
    }
}

@media screen and (max-width: 350px) {
    header figure {
        width: 250px;
    }

    header figure img {
        width: 250px;
    }

    nav button {
        font-size: .9em;
    }
}

@media screen and (max-width: 300px) {
    header figure {
        width: 200px;
    }

    header figure img {
        width: 200px;
    }

    nav button {
        font-size: .8em;
    }
}