.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 4em;
}

.contact .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}