.features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5em;

    width: 1250px;

    padding-bottom: 4em;
}

.features h1 {
    margin: 0;

    font-size: 4em;
}

.features .featuresContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.features .informationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
}