.features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3em;

    width: 1250px;

    padding-bottom: 4em;
}

.features h1 {
    font-size: 5em;
}

.features .featuresContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15em;

    width: 1250px;
}