.contentBlock button {
    width: 225px;
    padding: .5em;

    font-size: 1.5em;
    color: white;
    background-color: transparent;

    border: none;
    border-bottom: .15em solid #c12d2c;
    border-radius: .5em;

    position: relative;
    overflow: hidden;
    transition: color 0.3s, border-bottom 0.3s, box-shadow 0.3s;
}

.contentBlock button::before {
    content: '';
    position: absolute;

    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(45deg, rgba(193, 45, 44, 0.3), rgba(255, 255, 255, 0.022));
    transition: bottom 0.3s, transform 0.3s;
    z-index: 1;
    transform: scale(1.1);
}

.contentBlock button:hover::before {
    bottom: 0;
    transform: scale(1);
}

.contentBlock button:hover {
    cursor: pointer;
    color: #F5F5F5;
    border-bottom: .15em solid #c12d2c;
}

.contentBlock button span {
    position: relative;
    z-index: 2;
    transition: transform 0.3s;
}

.contentBlock button:hover span {
    transform: translateY(-3px);
}
