.contentBlock button {
    width: 225px;
    padding: .5em;

    font-size: 1.5em;

    color: rgb(238, 236, 236);
    background-color: transparent;

    border: none;
    border-bottom: .15em solid #c12d2c;
    border-radius: .5em;

    position: relative;
    overflow: hidden;
    transition: color 0.2s;
}

.contentBlock button::before {
    content: '';
    position: absolute;

    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(92, 92, 92, 0.163);

    transition: bottom 0.3s;
    z-index: 1;
}

.contentBlock button:hover::before {
    bottom: 0;
}

.contentBlock button:hover {
    cursor: pointer;
}

.contentBlock button span {
    position: relative;
    z-index: 2;
}