.contentBlock .joinedCommunicate {

  color: #bed754;
  font-size: 2em;

  padding-left: 0.3em;

  font-size: 1.45em;
  font-weight: 600;
}

@media (max-width: 500px) {
  .joinedCommunicate {

    font-size: 1.2em;

  }
}
