.hider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: aliceblue;
    cursor: pointer;

    height: 15px;
}

.hider .arrowIcon {
    padding: 1em 1em .5em 1em;

    border-radius: 60%;
    background-color: black;

    transform: translateY(-40%);
}