nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;

    animation: showMenu .75s ease-in;
}

@keyframes showMenu {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}