nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3.5em;
    width: 900px;

    animation: showMenu .75s ease-in;
}

@keyframes showMenu {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}