.content header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0em;

    padding: 0;

    background-color: transparent;
}

.content header h1 {
    font-size: 4em;

    margin: 0;
    padding-left: .25em;
}

.content header h1:first-child {
    border-left: .1em solid #bed754;
}