button {
    width: 215px;
    padding: .5em 1em .65em 1em;

    font-size: 1.25em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(238, 236, 236);
    background-color: black;

    border: none;
    border-bottom: .25em solid rgb(44, 44, 44);
    border-radius: .5em;

    position: relative;
    overflow: hidden;
    transition: color 0.2s;
}

button::before {
    content: '';
    position: absolute;

    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgb(44, 44, 44);

    transition: bottom 0.3s;
    z-index: 1;
}

button:hover::before {
    bottom: 0;
}

button:hover {
    cursor: pointer;
}

button span {
    position: relative;
    z-index: 2;
}