header figure {
    margin: 0;

    animation: showLogo .75s linear;
}

header figure img {
    width: 300px;
}

@keyframes showLogo {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
}