header figure {
    width: 350px;
    margin: 0;

    animation: showLogo .75s ease-in;
}

header figure img {
    width: 325px;
}

@keyframes showLogo {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
}