@media screen and (max-width: 1400px) {
    .innovation { /* Container */
        width: 1000px;
    }
}

@media screen and (max-width: 1150px) {
    .innovation { /* Container */
        width: 700px;
    }

    .innovation .textContent h1 { /* Heading */
        font-size: 3em;
    }

    .innovation .textContent .subheading { /* Subheading */
        font-size: 1.5em;
    }

    .innovation .textContent .divider { /* Divider */
        width: 200px;
    }

    .innovation .textContent .content p { /* Content */
        width: 350px;

        font-size: 1em;
    }

    .innovation .imageContent .image .iconBg { /* Icon backgrounds size */
        height: 50px;
        width: 50px;
    }

    .innovation .imageContent .image .iconBg:first-child { /* Icon backgrounds margin */
        margin-right: 4em;
    }

    .innovation .imageContent .image .firstRow,
    .innovation .imageContent .image .lastRow { /* Gradient rows (both) */
        height: 5px;
        width: 100px;
    }

    .innovation .imageContent .image .firstRow { /* Gradient row 1 */
        margin-right: 8.5em;
    }

    .innovation .imageContent .image .lastRow { /* Gradient row 2 */
        margin-right: 5.5em;
    }

    .innovation .imageContent .image img.robot { /* Image 1 */
        width: 210px;
    }

    .innovation .imageContent .image img.robotsInSuits { /* Image 2 */
        width: 160px;
    }
}

@media screen and (max-width: 900px) {
    .innovation { /* Container */
        width: 650px;
    }

    .innovation .textContent h1 { /* Heading */
        font-size: 2.5em;
    }

    .innovation .textContent .subheading { /* Subheading */
        font-size: 1.25em;
    }

    .innovation .textContent .divider { /* Divider */
        width: 175px;
    }

    .innovation .textContent .content p { /* Content */
        width: 325px;

        font-size: .95em;
    }

    .innovation .imageContent .image .iconBg { /* Icon backgrounds size */
        height: 50px;
        width: 50px;
    }

    .innovation .imageContent .image .iconBg:first-child { /* Icon backgrounds margin */
        margin-right: 3em;
    }

    .innovation .imageContent .image .firstRow,
    .innovation .imageContent .image .lastRow { /* Gradient rows (both) */
        height: 5px;
        width: 80px;
    }
}

@media screen and (max-width: 800px) {
    .innovation {  /* Container */
        width: 80%;
        min-width: 380px;
    }

    .innovation .textContent .content p { /* Content */
        width: 250px;

        font-size: .85em;
    }

    .innovation .imageContent .image .iconBg { /* Icon backgrounds */
        height: 50px;
        width: 50px;
    }

    .innovation .imageContent .image .iconBg:first-child { /* Icon backgrounds */
        margin-right: 2em;
    }

    .innovation .imageContent .image .firstRow,
    .innovation .imageContent .image .lastRow { /* Gradient rows (both) */
        height: 4px;
        width: 60px;
    }

    .innovation .imageContent .image .firstRow { /* Gradient row 1 */
        margin-right: 7em;
    }

    .innovation .imageContent .image .lastRow { /* Gradient row 2 */
        margin-right: 5em;
    }

    .innovation .imageContent .image img.robot { /* Image 1 */
        width: 185px;
    }

    .innovation .imageContent .image img.robotsInSuits { /* Image 2 */
        width: 150px;
    }
}

@media screen and (max-width: 700px) {
    .innovation .imageContent .image .iconBg { /* Icon backgrounds */
        height: 40px;
        width: 40px;
    }

    .innovation .imageContent .image .iconBg:first-child { /* Icon backgrounds */
        margin-right: 2em;
    }

    .innovation .imageContent .image .firstRow,
    .innovation .imageContent .image .lastRow { /* Gradient rows (both) */
        height: 4px;
        width: 60px;
    }

    .innovation .imageContent .image .firstRow { /* Gradient row 1 */
        margin-right: 5em;
    }

    .innovation .imageContent .image .lastRow { /* Gradient row 2 */
        margin-right: 3.5em;
    }

    .innovation .imageContent .image img.robot { /* Image 1 */
        width: 140px;
    }

    .innovation .imageContent .image img.robotsInSuits { /* Image 2 */
        width: 120px;
    }
}

@media screen and (max-width: 600px) {
    .innovation .textContent h1 { /* Heading */
        font-size: 2.25em;
    }

    .innovation .textContent .subheading { /* Subheading */
        font-size: 1.1em;
    }

    .innovation .textContent .divider { /* Divider */
        width: 150px;
    }

    .innovation .textContent .content p { /* Content */
        width: 230px;

        font-size: .85em;
    }

    .innovation .imageContent .image .firstRow,
    .innovation .imageContent .image .lastRow { /* Gradient rows (both) */
        display: none;
    }

    .image:first-child .iconBg { /* Icon background 1 */
        transform: translateX(110%);

        margin-bottom: 5em;
    }

    .image:last-child .iconBg { /* Icon background 2 */
        transform: translateX(110%);

        margin-bottom: 6em;
    }
}

@media screen and (max-width: 550px) {
    .innovation { /* Container */
        gap: 0em;
    }

    .innovation .textContent .content p { /* Content */
        width: 200px;

        font-size: .85em;
    }
}

@media screen and (max-width: 450px) {
    .innovation { /* Container */
        min-width: 0px;
        width: 300px;

        padding-bottom: 0em;
    }

    .innovation .textContent { /* TextContent container */
        width: 100%;
    }

    .innovation .textContent .imageContainer { /* Images container for mobile */
        width: 100%;

        text-align: center;
    }

    .innovation .textContent .imageContainer img.robot,
    .innovation .textContent .content .imageContainer img.robotsInSuits { /* Images for mobile */
        box-shadow: 1px 1px 21px rgba(0, 166, 255, .5);
        border-radius: .75em;
    }

    .innovation .textContent .imageContainer img.robot { /* Image 1 for mobile */
        width: 250px;
    }

    .innovation .textContent .content .imageContainer img.robotsInSuits { /* Image 2 for mobile */
        width: 175px;
    }

    .innovation .textContent .content p { /* Content */
        width: 300px;

        font-size: .85em;
        text-align: center;

        padding: 1em 0em;
    }
}

@media screen and (max-width: 350px) {
    .innovation { /* Container */
        width: 250px;
    }

    .innovation .textContent h1 { /* Heading */
        font-size: 1.75em;
    }

    .innovation .textContent .subheading { /* Subheading */
        font-size: 1em;
    }

    .innovation .textContent .content p { /* Content */
        width: 250px;

        font-size: .85em;
    }

    .innovation .textContent .imageContainer img.robot { /* Image 1 for mobile */
        width: 200px;
    }

    .innovation .textContent .content .imageContainer img.robotsInSuits { /* Image 2 for mobile */
        width: 145px;
    }
}

@media screen and (max-width: 300px) {
    .innovation { /* Container */
        width: 220px;
    }

    .innovation .textContent h1 { /* Heading */
        font-size: 1.5em;
    }

    .innovation .textContent .subheading { /* Subheading */
        font-size: .95em;
    }

    .innovation .textContent .content p { /* Content */
        width: 200px;

        font-size: .8em;
    }

    .innovation .textContent .imageContainer img.robot { /* Image 1 for mobile */
        width: 180px;
    }

    .innovation .textContent .content .imageContainer img.robotsInSuits { /* Image 2 for mobile */
        width: 125px;
    }
}