@media screen and (max-width: 1400px) {
    .hero {
        width: 1000px;
    }

    .cards {
        gap: 0em;
    }

    .card {
        width: 40%;
    }
}

@media screen and (max-width: 1150px) {
    .hero {
        height: 550px;
        width: 750px;
    }

    .hero figure {
        margin-top: 2em;
        width: 750px;
    }

    .hero figure img {
        width: 500px;
    }

    .contentBlock header h1 {
        font-size: 3em;
    }

    .contentBlock p {
        font-size: 1em;
        width: 400px;
    }

    .contentBlock button {
        width: 215px;
        font-size: 1.25em;
        margin-top: .75em;
        transition: none;
    }
}

@media screen and (max-width: 900px) {
    .hero {
        height: 420px;
        width: 650px;

        padding-left: 0em;
    }

    .hero figure {
        width: 500px;
    }

    .hero figure img {
        width: 500px;
    }

    .contentBlock header h1 {
        font-size: 2.5em;
    }

    .contentBlock p {
        font-size: 1em;
        width: 350px;
    }

    .contentBlock button {
        width: 190px;
        font-size: 1.1em;
        margin-top: .5em;
    }
}

@media screen and (max-width: 800px) {
    .hero {
        height: 420px;

        min-width: 380px;
        width: 80%;
    }

    .hero figure {
        width: 400px;
        margin: 0em;
    }

    .hero figure img {
        width: 100%;
    }

    .contentBlock p {
        font-size: 1em;
        width: 300px;
    }

    .contentBlock button {
        width: 175px;
        font-size: 1em;
        margin-top: 0em;
    }
}

@media screen and (max-width: 600px) {
    .hero {
        height: 400px;
    }

    .hero figure {
        width: 350px
    }

    .contentBlock {
        gap: 2em;
    }

    .contentBlock header h1 {
        font-size: 2.25em;
    }
}

@media screen and (max-width: 450px) {
    .hero {
        height: 350px;

        min-width: 0px;
        width: 300px;
    }

    .hero figure {
        width: 300px
    }

    .contentBlock {
        gap: 1.5em;
    }

    .contentBlock p {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 400px) {
    .contentBlock header h1 {
        font-size: 2.1em;
    }

    .contentBlock p {
        font-size: 1em;
        width: 250px;
    }

    .contentBlock button {
        width: 180px;
        font-size: 1em;
    }
}

@media screen and (max-width: 350px) {
    .hero {
        height: 320px;
        width: 250px;
    }

    .hero figure {
        width: 250px
    }

    .contentBlock header h1 {
        font-size: 1.75em;
    }

    .contentBlock p {
        font-size: 1em;
        width: 180px;
    }
}

@media screen and (max-width: 300px) {
    .hero {
        height: 300px;
        width: 220px;
    }

    .hero figure {
        width: 220px
    }

    .contentBlock header h1 {
        font-size: 1.5em;
    }

    .contentBlock p {
        font-size: .9em;
        width: 180px;
    }

    .contentBlock button {
        width: 155px;
        font-size: .9em;
    }
}
