.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0F1427;

    height: 700px;
    width: 1250px;

    padding-left: 2em;

    position: relative;
    overflow: hidden;
}
