.hero {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    height: 700px;
    width: 1250px;

    background-color: #101427;

    position: relative;
    overflow: hidden;
}
