.contactOption .col p.link,
.contactOption .col a {
    font-size: .9em;
    font-weight: 200;
    color: white;

    text-decoration: underline;
}

.contactOption .col p.link:hover,
.contactOption .col a:hover {
    cursor: pointer;
}