body {
    margin: 0;
    background-color: #0F1427;

    font-family: Open Sans;

    overflow-x: hidden;

    animation: enableOverflow 1ms linear forwards 1.5s;
}

@keyframes enableOverflow {
    from {
        overflow-x: hidden;
    } to {
        overflow-x: visible;
    }
}